__pycache__/
*.pyc
.venv/
.env
.vscode/
.pytest_cache/
dist/
build/# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Packaging
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/
